<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>SNAP-ON</ion-title>
    <ion-buttons end >

      <button ion-button icon-only (click)="consultShopingCart()">
        <ion-badge *ngIf="cartItems!=null" [@cartBadge]="cartBadgeCart">{{ getCantidadProducto(cartItems)}}</ion-badge>
        <ion-icon [@cartBadge]="cartBadgeCart" name="cart"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">
       
        <ion-icon  name="log-out"></ion-icon> 
      </button>
    </ion-buttons> 

  </ion-navbar> 
</ion-header>
<!--cambios realizados por el cacaso-->
<ion-content class="joao">
  
      <ion-searchbar [(ngModel)]="searchItem" [formControl]="searchControl" (ionInput)="setFilteredItem()"
        [showCancelButton]="true" cancelButtonText="Cancel" placeholder="search product" (ionCancel)="onCancel()"
        (ionClear)="onCancel()"></ion-searchbar>
      <!--spinner para cargar cuando se busca, evaluar si hay que cambiar-->
      
      <!--lista de resultados si es mayor a cero lo mostrarar -->
      <ion-list *ngIf="searchItem.length>0">
        <ion-item-sliding #slidingItem>
          <!--<ion-item  *ngFor="let item of items">-->
          <button ion-item *ngFor="let item of items" (click)="busarProducto(item)">
            {{item.name}}
          </button>
          <!--</ion-item>-->
        </ion-item-sliding>
      </ion-list>
  
  <!--fin lista de busqueda-->
  <!--carga de promociones slider-->
  <ion-slides *ngIf="promoImagesLoaded" autoplay=3000 slidesPerView=1>
    <ion-slide *ngFor="let promo of promoSliders">
      <img src="{{promo.name}}" alt="">
    </ion-slide>
  </ion-slides>
  <!--aqui ira carga de productos en promocion-->
  <ion-grid>
    <h1 class="item menu-divider">Promotions</h1>
    <ion-row *ngFor="let i of productRows">
      <ion-col *ngFor="let product of products | slice:(i*2):(i+1)*2" width-50 (click)="showDetails(product)">
        <ion-card>
          <img src="{{product.thumb}}" alt="">
          <ion-card-content>
            <p>
              {{product.price | currency:'USD':true:'1.2-2'}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>